*{
  
    box-sizing: border-box;
}

body{

    background-color: #FAFAF8;
    margin: 0;
    font-family: Inter, "sans-serif"
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    height: 80px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
    width: 50px;
}

header > p{
    font-size: 28px;
    font-weight: 500;
}

main{
    padding: 30px 30px 10px;
}

.add-ingredient-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    height: 38px;
    
}

.add-ingredient-form >input{
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-ingredient-form >button{
    font-family: Inter, "sans-serif";
    background-color:#141413 ;
    color:  #FAFAF8;
    border-radius: 6px;
    border: none;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;

}

.add-ingredient-form >button::before{
    content: "+";
    margin-right: 5px;
}


ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li{
    line-height: 28px;
    color:#475467;
}

section{
    padding: 2rem;
}

section > .get-recipe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #F0EFEB;
    padding: 10px 20px;
    border-radius: 8px;
}

section > .get-recipe > h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

section > .get-recipe > p{
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

section > .get-recipe >button {
    font-family: Inter, "sans-serif";
    background-color:#D17557 ;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-size: 0.875rem;
    cursor: pointer;

}


.loading-message{
    font-size: 1.2rem;
    color:#ff5722;
    text-align: center;
    margin-top: 1rem;
    animation: pulse 1s infinite;
}

@keyframes pulse{
    0%{ opacity:0.5}
    50%{opacity: 1;}
    100%{opacity: 0.5;}
}




.suggested-recipe{
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe ul li, .suggested-recipe ol li{
    margin-bottom: 8px;
}

section.suggested-recipe >button{
    font-family: Inter, "sans-serif";
    background-color:#D17557 ;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-size: 0.875rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}




